<!DOCTYPE html>
<html>
<head>
    <title>Snitch</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout.min.js') }}"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div>
    <ul>
        {% if session.user %}
            <li>
                <a href="{{ url_for('web.logout') }}">Logout</a>
            </li>
        {% endif %}
    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>